body {
  background-color: #FFCFCF
}
#tracks {
  padding-top: 60px;
}
#tracks-container{
  width: 95%;
  margin: 0 auto;
}
.super {
  float:left;
  width:160px;
  height:160px;
  background-size:   cover;
  background-repeat: no-repeat;
  background-position: center center;
}