@import url('audiojs-override.css');
@import url('bootstrap-override.css');
@import url('spinner.css');

body {
 background: -webkit-linear-gradient(135deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), -webkit-linear-gradient(45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), rgb(0, 153, 151);
  background: -moz-linear-gradient(-45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), -moz-linear-gradient(45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), rgb(0, 153, 151);
  background: linear-gradient(-45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), linear-gradient(45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), rgb(0, 153, 151);
  background-position: auto auto;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 20em 20em;
  background-size: 20em 20em;
}

#tracks-container{
  width: 95%;
  margin: 0 auto;
  top: 51px;
  position: relative;
}

#tracks-container li {
  height: 160px;
  width: 160px;
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
}

#tracks-container li a img{
  width: 160px;
  height: 160px;
}

#tracks-container li a img,
#status {
  -webkit-transition: opacity 0.4s;
     -moz-transition: opacity 0.4s;
      -ms-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

#tracks-container li.is-loading {
  background-color: black;
  background-image: url('http://desandro.github.io/imagesloaded/assets/loading.gif');
}

#tracks-container li.is-broken {
  background-image: url('http://desandro.github.io/imagesloaded/assets/broken.png');
  background-color: #be3730;
  width: 160px;
}

#tracks-container li.is-loading img,
#tracks-container li.is-broken img {
  opacity: 0;
}

.playing_track {
  z-index: 1;
  webkit-box-shadow: 0 0 20px 3px #F7FF03;
  box-shadow: 0 0 20px 3px #F7FF03;
  position: relative;
}

.track-info {
  color: white;
  border-left: 1px solid #5E5E5E;
  height: 36px;
  text-align: center;
  margin: 6px 0;
  padding: 0 12px;
}

.track-info .artist{
  font-weight: bolder;
}

.soundcloud-img{
  background: url(/img/soundcloud.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45px;
  height: 21px;
}

.load-more{
  float:left;
  width:160px;
  height:160px;
}

.load-more button{
  width:100%;
  height:100%;
}